@charset "UTF-8";
.fotos {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 100vh;
  margin: 0 auto;
  margin-left: 70px;
}

.foto img {
  height: 200px;
  width: 200px;
  margin: 10px;
  border-radius: 100px;
  border: solid 8px;
  border-color: rgba(234, 81, 132, 0.7);
}

.foto img:hover{
  transform:scale(1.2,1.2);
  transition:0.2s all;
}
